{% extends "layout.html" %}

{% block title %}
    Buy stocks
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus name="symbol" class="form-control" placeholder="symbol" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus name="shares" class="form-control" placeholder="shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy stock</button>
    </form>
{% endblock %}